/target/
nb-configuration.xml
nbactions.xml

/src/main/java/celtech/resources/models/Thumbs.db
/src/main/java/celtech/resources/images/Thumbs.db
/src/main/java/celtech/resources/images/advancedHomeAndJog/Thumbs.db
/nbproject/
/nologname.log
/nologname.log.1