.menu-button-1 {
    -fx-graphic: url("/image/menu-server-name-grey.png");
}

.menu-button-2 {
    -fx-graphic: url("/image/menu-wireless-settings-grey.png");
}

.menu-button-3 {
    -fx-graphic: url("/image/menu-security-settings-grey.png");
}

.menu-button-4 {
    -fx-graphic: url("/image/menu-about-grey.png");
}