.menu-button-1 {
    -fx-graphic: url("/image/menu-test-speed-grey.png");
}

.menu-button-2 {
    -fx-graphic: url("/image/menu-test-axis-grey.png");
}

.menu-button-3 {
    -fx-graphic: url("/image/menu-test-axis-grey.png");
}

.menu-button-4 {
    -fx-graphic: url("/image/menu-test-axis-grey.png");
}

