-injars '../../RoboxRoot/target/lib/Configuration-1.3.jar'
-outjars Configuration-1.3Obfuscated.jar
-injars '../../RoboxRoot/target/lib/Stenographer-1.10.jar'
-outjars Stenographer-1.10Obfuscated.jar
-injars '../../RoboxRoot/target/lib/Licence-1.1.jar'
-outjars Licence-1.1Obfuscated.jar
-injars '../../RoboxRoot/target/lib/RoboxBase-1.3.jar'
-outjars RoboxBase-1.3Obfuscated.jar
-injars ../../RoboxRoot/target/Root.jar
-outjars RootObfuscated.jar

-libraryjars /var/jenkins_home/java/javaDistros11/arm32-hflt/jdk-11.0.2/jmods
-libraryjars '../../RoboxRoot/target/lib'

-dontskipnonpubliclibraryclassmembers
-dontshrink
-printusage proguard.usage
-dontoptimize
-printmapping proguard.mapping
-dontusemixedcaseclassnames
-flattenpackagehierarchy ''
-keepattributes Exceptions,InnerClasses,Signature,Deprecated,SourceFile,LineNumberTable,LocalVariable*Table,*Annotation*,Synthetic,EnclosingMethod
-adaptresourcefilecontents **.fxml,META-INF/MANIFEST.MF
-verbose
-dontnote

-keep class org.codehaus.** { *; }
-keep class jfxtras.** { *; }

-keep,includedescriptorclasses,allowshrinking class * extends java.io.Serializable {
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    <fields>;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

-keepclassmembers,allowshrinking enum  * {
    <fields>;
    <methods>;
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class celtech.roboxbase.printerControl.model.HeadEEPROMData { <fields>; <methods>; }
-keep public class * extends celtech.roboxbase.comms.rx.RoboxRxPacket { <fields>; <methods>; }
-keep public class * extends celtech.roboxbase.comms.tx.RoboxTxPacket { <fields>; <methods>; }
-keep public class * extends celtech.roboxbase.i18n.languagedata.LanguageData { <fields>; <methods>; }
-keep public class celtech.roboxbase.comms.DetectedServer { *; }
-keep public class celtech.roboxbase.postprocessor.PrintJobStatistics { <fields>; <methods>; }
-keep public class celtech.roboxbase.camera.CameraInfo { <fields>; <methods>; }

-keep,allowshrinking class celtech.roboxremote.RoboxRemoteConfiguration {
    public <methods>;
}

-keep,allowshrinking class celtech.roboxremote.rootDataStructures.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.roboxbase.configuration.datafileaccessors.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.roboxbase.configuration.fileRepresentation.** {
    <fields>;
    <methods>;
}

-keep,allowshrinking class celtech.roboxbase.comms.remote.clear.** {
    <fields>;
    <methods>;
}

# Keep - Applications. Keep all application classes, along with their 'main'
# methods.
-keepclasseswithmembers public class com.javafx.main.Main,celtech.roboxremote.Root {
    public static void main(java.lang.String[]);
}
